
// Fonts
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

// Variables
@import "bulma";

.table td, .table th {
  vertical-align: inherit;
}

.table .progress {
  cursor: pointer;
}

.fixed-width {
  width: 8vw;
}